# Ignore artifacts:
build
coverage

/hasura
frontend/src/generated/
services/actions/src/generated/
aws/cdk.out/

**/graphql.schema.json
**/package-lock.json

frontend/snowpack/
node_modules/

services/actions/src/lib/vimeoClient.ts