body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.emoji-mart-scroll {
    border-bottom: 0;
    margin-bottom: 6px;
}

.emoji-mart-scroll + .emoji-mart-bar {
    display: none;
}

.twemoji {
    display: inline;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    text-decoration: inherit;
}

.twemoji-reaction {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 1px;
    margin-right: 1px;
    vertical-align: baseline;
    text-decoration: inherit;
}

.twemoji > img,
.twemoji-reaction > img {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 1px;
    margin-right: 1px;
    vertical-align: baseline;
}

.markdown-twemoji {
    display: inline-block;
    height: 1em;
    margin: 0 1px;
    max-width: unset;
    padding: 0;
    vertical-align: middle;
}
